<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <fieldset>
            <legend> User info</legend>
            <label for="">Enter your name:</label>
        <label for="Enter your name">Name:</label>

        <input type="text" placeholder="Enter your name">
        <br>
        <input type="email" placeholder="Enter your email">
        <br>
        <input type="password" placeholder="Enter your password">
        </fieldset>
        <br>
        <fieldset>
            <legend>Profile info</legend>
            <input type="text" placeholder="Enter your address">
            <input type="number" placeholder="Enter your Pincode">
            <input type="tel" placeholder="Enter your phone number" name="" id="">
        </fieldset>
        <br>
        <button type="submit">Submit</button>
    </form>

    <h1>User List</h1>

    <ul>

        <% users.forEach(user=>{%>
            <li><%= user %></li>
        <%})%>


    </ul>







</body>
</html>


const express=require("express");
cont http=require("http");
cont {server}=require("socket.io");

const app=express();
const server=http.createserver(app)

const io=new server(server)

io.on("connection",(socket)=>{
    
})

